.manager-dashboard-main-container{
    background-color: white;
    position: relative;
    z-index: 1000;
    width: 100%;
    height:100vh;
    display: flex;
}
button{
    padding: 8px 20px;
    border: solid 1px transparent;
    border-radius: 7px;
    background-color: orange;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.description-hidden{
    width: 60%;
    display: -webkit-box;
}