.added-items-pop-up{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 22px;
    background-color:#fc8019;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    color: white;
    animation: slide-up 0.5s forwards; 
}
@keyframes slide-up {
    from {
        transform: translateY(100%); /* Start from below the screen */
    }
    to {
        transform: translateY(0); /* Slide up to final position */
    }
}
.added-items-pop-up h4{
    font-size: 14.5px;
    font-weight: 500;
}
.added-items-pop-up-div1{
    display: flex;
    gap: 5px;
}
.added-items-pop-up-div2{
    display: flex;
    align-items: center;
    gap: 13px;
    margin-right: 3px;
}
.added-items-pop-up-div2 h4{
    font-weight: 700;
    font-size: 16px;
}
.added-items-pop-up.div2 i{
    font-size: 22px;
}
